* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #56ccf2;
    background: -webkit-linear-gradient(to right, #56ccf2, #2f80ed);
    background: linear-gradient(to right, #56ccf2, #2f80ed);
    color: rgb(44, 44, 44);
    font-family: Arial, Helvetica, sans-serif;
}

.location,
.temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.location {
    margin-top: -6em;
    font-size: 20px;
}

    @media screen and (max-width: 736px) {
        .location {
            font-size: 15px;
        }
    }

.temperature {
    flex-direction: column;
}

.tempDegreeSection {
    display: flex;
    align-items: center;
    cursor: pointer;
}

    span {
        margin: 10px;
        font-size: 46px;
        padding-left: 0.1em;
    }

    h2 {
        font-size: 55px;
    }

    @media screen and (max-width: 736px) {
        .tempDegreeSection span {
            font-size: 32px;
            padding-left: 0;
        }

        .tempDegreeSection h2 {
            font-size: 38px;
        }
    }

.tempDescriptionSection {
    font-size: 30px;
    margin-top: -2em;
}

    @media screen and (max-width: 736px) {
        .tempDescriptionSection {
            font-size: 20px;
        }
    }

.weatherIcon {
    margin-bottom: 2em;
    margin-top: -2.5em;
}

.add-button {
    position: absolute;
    top: 1px;
    left: 1px;
}