* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1488cc;
    background: -webkit-linear-gradient(to right, #1488cc, #2b32b2);
    background: linear-gradient(to right, #1488cc, #2b32b2);
    color: rgb(44, 44, 44);
    font-family: Arial, Helvetica, sans-serif;
}

.location,
.temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.location {
    margin-top: -6em;
    font-size: 20px;
}

.temperature {
    flex-direction: column;
}

.tempDegreeSection {
    display: flex;
    align-items: center;
    cursor: pointer;
}

    span {
        margin: 10px;
        font-size: 40px;
    }

    h2 {
        font-size: 55px;
    }

.tempDescriptionSection {
    font-size: 30px;
    margin-top: -2em;
}

.weatherIcon {
    margin-bottom: 2em;
    margin-top: -2.5em;
}

.add-button {
    position: absolute;
    top: 1px;
    left: 1px;
}